# To enable wireless networking, uncomment the following lines and -naturally-
# replace with your network's details.

allow-hotplug {{ wireless_inteface }}
iface {{ wireless_inteface }} inet static
    address 10.5.5.1
    netmask 255.255.255.224
